/* Общие стили */
* {
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff2cd;
    min-height: 100vh;
}

/*Header*/
header {
    background-color: #85713f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

nav {
text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 5rem;
}

li:last-child {
    margin-right: 0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color:rgb(255, 196, 0);
}
main {
    padding: 1vh;
}

.logo-style {
    display: inline;
}

/* Секция About */
.section-about {
    height: 75vh;
    background: url(../images/outside.jpg) center/cover no-repeat;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 5vh;
}

.section-about_block {
    width: 80%;
    max-width: 400px;
    background: linear-gradient(-45deg, rgba(133,113,63, 0.85) 50%, rgba(232, 217, 174, 0.85));
    border-radius: 1rem;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Добавляем это */
    overflow: auto;
}

.section-about_border {
    width: 90%;
    height: 90%;
    border: 0.3rem solid black;
    border-radius: 1rem;
    margin: 0 auto;
}

.section-about_title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.section-about_text {
    text-align: center;
    margin: 1%;
}

/* Секция Description */
.section-description_icon-box {
    text-align: center;
    margin-bottom: 5vh;
}

.section-description_icon-box img {
    max-height: 20rem;
    width: auto;
    margin-right: 5rem;
}

.section-description_icon-box img:last-child {
    margin-right: 0;
}

.section-description_title {
    text-align: center;
    margin: 1vh;
    font-size: 3rem;
}

.section-description_span {
    display: block;
    color:rgb(164, 126, 0);
    font-size: 1rem;
}

.section-description_text {
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    width: 75vw;
    margin: auto;
}

/* Секция Gallery */
.section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    max-width: 80vw;
    margin: 2rem auto;
}

.section-gallery_item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
}

.section-gallery_item img {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

.item4 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1
}

/* Секция Map */
.section-map_title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

iframe {
    display: block;
    margin: auto;
    border-radius: 1rem;
}

/* Footer */
footer {
    background-color: #423820;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a, .footer-contacts a {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}

.footer-icons img {
    height: 2rem;
    width: 2rem;
}

.footer-contacts a:hover{
    text-decoration: underline;
}


.footer-copyright {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: lightgray;
}

/* Медиа запросы */
/* Стили для экранов меньше 768px (мобильные устройства) */
@media (max-width: 767px) {
    li {
        display: block;
        margin-right: 0;
    }
    .section-description_icon-box img {
        height: 10rem;
        margin-right: 2rem;
    }
    .section-description_icon-box img:first-child {
        margin-left: 2rem;
    }
  
    .section-description_title {
      font-size: 2.5rem;
    }
  
    .section-description_text {
      font-size: 1.1rem;
      text-align: justify;
    }

    .section-gallery {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .section-gallery_item {
        grid-column: auto;
        grid-row: auto;
        max-height: 20vh;
    }

    iframe {
        max-height: 300px;
    }
  
    .footer-content {
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-bottom: 5px;
    }
  
    .footer-icons {
      margin-right: 0;
      margin-bottom: 5px;
    }
}
  
  
/* Стили для экранов от 768px до 1023px (планшеты) */
@media (min-width: 768px) and (max-width: 1023px) {
    .section-description_icon-box img:first-child {
        margin-left: 5rem;
    }

    .section-description_title {
        font-size: 2.8rem;
    }

    .section-description_text {
        font-size: 1.2rem;
    }

    .section-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .item3, .item4 {
        grid-column: auto;
        grid-row: auto;
    }
}
  
